<div class="container-fluid">
    <div class="table-responsive pt-5">
        <table class="table table-bordered table-hover" style="width: '700px'; font-size: 20pt; background-color: white; border-radius: 10px">
            <thead>
                <tr class="thead-dark">
                    <th scope="col">Предмет</th>
                    <th scope="col">Отриманий бал</th>
                    <th scope="col">Максимальний бал</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Математика</th>                
                    <td>10</td>
                    <td>10</td>
                </tr>
                <tr>
                    <th scope="row">Укр. мова</th>                 
                    <td>8</td> 
                    <td>10</td>
                </tr>
                <tr>
                    <th scope="row">Лін. алг. та аналіт. геом.</th>
                    <td>15</td>
                    <td>25</td>
                </tr>
                <tr>
                    <th scope="row">Фізкультура</th>               
                    <td>10</td>
                    <td>10</td>
                </tr>
            </tbody>
        </table>
    </div>

<!--schedule-->

    <div class="mt-5 py-2">
        <div class="tomorrowstyle">На завтра</div>
        <input type="date" class="dateinput"/>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-hover" style="width: 1000px; font-size: 20pt; background-color: white; border-radius: 10px">
            <thead>
                <tr class="thead-dark">
                    <th scope="col">Програмування</th>
                    <th scope="col">Дизайн</th>
                    <th scope="col">ООП</th>
                    <th scope="col">Диф. рівняння</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ауд.38</td>                
                    <td>ауд.10</td>
                    <td>ауд.21</td>
                    <td>ауд.40</td>
                </tr>
                <tr>
                    <td>Домашка вивчити кучу всього просто кучу кучу кучу</td>               
                    <td>Домашка2 вивчити кучу всього просто кучу кучу кучу</td> 
                    <td>Домашка3 вивчити кучу всього просто кучу кучу кучу</td>
                    <td>Домашка4 вивчити кучу всього просто кучу кучу кучу</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>