<div class="bgimgStyle">
    <div class="message">
            <div>
                <h2>Вітаємо, ви дійшли до кінця Інтернету</h2>
                <h4>Пройшовши довгий шлях в пошуках вашого запиту ви нічого не знайшли. Радимо вам повернутися на 
                    <span style="cursor:pointer; text-decoration:underline">початок</span> ваших пригод.
                </h4>
            </div>
    </div>
    <div>
        <img class="errImg imgStyle" src="../../assets/img/error/junks.svg" alt="junks" id="parts" />
        <img class="errImg imgStyle" src="../../assets/img/error/deadman.svg" alt="man" id="parts" />
        <img class="errImg imgStyle" src="../../assets/img/error/junk.svg" alt="junk" id="parts" />
    </div>
</div>