<div class="container-fluid bgimg">
    <div class="row justify-content-center">
        <div class="authStyle col-xl-4 col-md-8 col-sm-12 col-12">
            <div class="row justify-content-center">
                <div class="col-10">
                    <h1 class="h1" style="text-align: center; color: white">Вхід в систему</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-sm-11 authCenter">
                    <div class="row justify-content-around">
                        <div class="col-4">
                            <img src="../../assets/img/persons.svg" alt="Вчитель" class="imgCenter"/>
                            <h5 style="text-align: center" id="members">Вчитель</h5>
                        </div>
                        <div class="col-4">
                            <img src="../../assets/img/persons.svg" alt="Директор" class="imgCenter"/>
                            <h5 style="text-align: center" id="members">Директор</h5>
                        </div>
                        <div class="col-4" >
                            <img src="../../assets/img/persons.svg" alt="Учень" class="imgCenter"/>
                            <h5 style="text-align: center" id="members">Учень</h5>
                        </div>
                    </div>
                    <form>
                    <div class="row justify-content-center">
                        <div class="col-11 col-sm-8">
                            <input type="text" class="inpStyle form-control" placeholder="Username" />
                        </div>
                        <div class="col-11 col-sm-8">
                            <input type="password" class="inpStyle form-control" placeholder="Password" />
                            <div class="row" style="margin-top: 10px">
                                <div class="col-6"></div> 
                                <div class="col-6"><button type="submit" class="btnStyle btn btn-danger" title="Submit">Увійти</button></div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>