<div class="container-fluid bgimgStyle">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Вітаємо Вас "ім'я"</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse w-60 order-3 dual-collapse2" id="menu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <button class="btn btn btn-outline-danger my-2 ml-2" type="button">Додати учня</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn btn-outline-danger my-2 ml-2" type="button">Додати вчителя</button>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Предмет
                    </a>
                    <div class="dropdown-menu dropdown-menu-right text-right" aria-labelledby="navbarDropdown" style="font-size: 1em">
                        <a class="dropdown-item" href="#">Всі</a>
                        <a class="dropdown-item" href="#">які</a>
                        <a class="dropdown-item" href="#">тікі</a>
                        <a class="dropdown-item" href="#">є</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

<!--1-st menu-->

    <div class="row w-100 pl-5 mt-3" style="height: 90%">
        <div class="my-auto">
            <div class="col-10 col-lg-7 offset-1 offset-lg-0 my-auto">
                <div class="row">
                    <div class="col-12">
                        <h1>Редагувати оцінки:</h1>
                    </div>

                    <div class="col-6 col-md-3 col-lg-3 btn-group mb-3">
                        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:#343a40; width: 100%">
                            Курс
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item" type="button">1</button>
                            <button class="dropdown-item" type="button">2</button>
                            <button class="dropdown-item" type="button">3</button>
                            <button class="dropdown-item" type="button">4</button>
                        </div>
                    </div>

                    <div class="col-6 col-md-3 col-lg-3 btn-group mb-3">
                        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:#343a40; width: 100%">
                            Група
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
                            <button class="dropdown-item" type="button">ІПЗ</button>
                            <button class="dropdown-item" type="button">МІВТ-ЕТ</button>
                            <button class="dropdown-item" type="button">ЕП</button>
                        </div>
                    </div>

                    <div class="col-6 col-md-3 col-lg-3 mb-3"><button type="button" class="btn btn-danger btn-lg">Редагувати</button></div>
                </div>

<!--2-nd menu-->

                <div class="row mt-5">
                    <div class="col-12">
                        <h1>Заміни:</h1>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3 btn-group mb-3">
                        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:#343a40; width: 100%">
                            Курс
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item" type="button">1</button>
                            <button class="dropdown-item" type="button">2</button>
                            <button class="dropdown-item" type="button">3</button>
                            <button class="dropdown-item" type="button">4</button>
                        </div>
                    </div>

                    <div class="col-6 col-md-3 col-lg-3 btn-group mb-3">
                        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:#343a40; width: 100%">
                            Група
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
                            <button class="dropdown-item" type="button">ІПЗ</button>
                            <button class="dropdown-item" type="button">МІВТ-ЕТ</button>
                            <button class="dropdown-item" type="button">ЕП</button>
                        </div>
                    </div>

                    <div class="col-6 col-md-3 col-lg-4 btn-group mb-3">
                        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:#343a40; width: 100%; overflow: hidden">
                            Пара яку заміняють
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item" type="button">Вступ до ООП</button>
                            <button class="dropdown-item" type="button">Бази даних</button>
                            <button class="dropdown-item" type="button">Фіз. вихов.</button>
                            <button class="dropdown-item" type="button">Диф. рівняння</button>
                        </div>
                    </div>

                    <div class="col-6 col-md-3 col-lg-3 btn-group mb-3">
                        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:#343a40; width: 100%; overflow: hidden">
                            Пара яка буде
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
                            <button class="dropdown-item" type="button">Всі</button>
                            <button class="dropdown-item" type="button">пари</button>
                            <button class="dropdown-item" type="button">які</button>
                            <button class="dropdown-item" type="button">тільки</button>
                            <button class="dropdown-item" type="button">є в групи</button>
                        </div>
                    </div>

                    <div class="col-6 col-md-3 col-lg-3 btn-group mb-3">
                        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:#343a40; width: 100%; overflow: hidden">
                            Аудиторія
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item" type="button">всі</button>
                            <button class="dropdown-item" type="button">ауд</button>
                            <button class="dropdown-item" type="button">що</button>
                            <button class="dropdown-item" type="button">є</button>
                        </div>
                    </div>

                    <div class="col-6 col-md-3 col-lg-3 btn-group mb-3">
                        <input type="date" class="form-control" style="width: '100%'; height: '100%'; overflow: hidden"/>
                    </div>

                    <div class="col-6 col-md-3 col-lg-3 mb-3"><button type="button" class="btn btn-danger btn-lg">Додати</button></div>

                </div>
            </div>     
        </div>
    </div>
</div>