<div class="container-fluid">
    <div class="table-responsive mt-5" id="student2">
            <table class="table table-bordered table-hover" style="width: 1000px; height: '700px; font-size: '20pt; background-color: white; border-radius: 10px">
                <thead>
                    <tr class="thead-dark">
                        <th scope="col">Предмет</th>
                        <th scope="col">10.01</th>
                        <th scope="col">10.02</th>
                        <th scope="col">10.03</th>
                        <th scope="col">10.04</th>
                        <th scope="col">10.05</th>
                        <th scope="col">10.06</th>
                        <th scope="col">10.07</th>
                        <th scope="col">10.08</th>
                        <th scope="col">10.09</th>
                        <th scope="col">10.10</th>
                        <th scope="col">10.11</th>
                        <th scope="col">10.12</th>
                        <th scope="col">10.13</th>
                        <th scope="col">10.14</th>
                        <th scope="col">10.15</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Математика</th>                
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <th scope="row">Укр. мова</th>                 
                        <td>8</td> 
                        <td>10</td>
                        <td>8</td> 
                        <td>10</td>
                        <td>8</td> 
                        <td>8</td> 
                        <td>10</td>
                        <td>8</td> 
                        <td>8</td> 
                        <td>10</td>
                        <td>8</td> 
                        <td>10</td>
                        <td>8</td> 
                        <td>10</td>
                        <td>8</td> 
                    </tr>
                    <tr>
                        <th scope="row">Лін. алг. та аналіт. геом.</th>
                        <td>15</td>
                        <td>25</td>
                        <td>15</td>
                        <td>25</td>
                        <td>15</td>
                        <td>25</td>
                        <td>15</td>
                        <td>25</td>
                        <td>15</td>
                        <td>25</td>
                        <td>15</td>
                        <td>25</td>
                        <td>15</td>
                        <td>25</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <th scope="row">Фізкультура</th>               
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <th scope="row">Математика</th>                
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <th scope="row">Укр. мова</th>                 
                        <td>8</td> 
                        <td>10</td>
                        <td>8</td> 
                        <td>10</td>
                        <td>8</td> 
                        <td>8</td> 
                        <td>10</td>
                        <td>8</td> 
                        <td>8</td> 
                        <td>10</td>
                        <td>8</td> 
                        <td>10</td>
                        <td>8</td> 
                        <td>10</td>
                        <td>8</td> 
                    </tr>
                    <tr>
                        <th scope="row">Лін. алг. та аналіт. геом.</th>
                        <td>15</td>
                        <td>25</td>
                        <td>15</td>
                        <td>25</td>
                        <td>15</td>
                        <td>25</td>
                        <td>15</td>
                        <td>25</td>
                        <td>15</td>
                        <td>25</td>
                        <td>15</td>
                        <td>25</td>
                        <td>15</td>
                        <td>25</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <th scope="row">Фізкультура</th>               
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <th scope="row">Математика</th>                
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <th scope="row">Укр. мова</th>                 
                        <td>8</td> 
                        <td>10</td>
                        <td>8</td> 
                        <td>10</td>
                        <td>8</td> 
                        <td>8</td> 
                        <td>10</td>
                        <td>8</td> 
                        <td>8</td> 
                        <td>10</td>
                        <td>8</td> 
                        <td>10</td>
                        <td>8</td> 
                        <td>10</td>
                        <td>8</td> 
                    </tr>
                    <tr>
                        <th scope="row">Лін. алг. та аналіт. геом.</th>
                        <td>15</td>
                        <td>25</td>
                        <td>15</td>
                        <td>25</td>
                        <td>15</td>
                        <td>25</td>
                        <td>15</td>
                        <td>25</td>
                        <td>15</td>
                        <td>25</td>
                        <td>15</td>
                        <td>25</td>
                        <td>15</td>
                        <td>25</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <th scope="row">Фізкультура</th>               
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>